@font-face {
  font-family: 'Rockwell';
  src: url('./fonts/Rockwell.ttf');
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

*::-webkit-scrollbar:horizontal {
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #ffffff20;
  min-height: 30px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #6b76a180;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

body {
  height: 100% !important;
  padding: unset !important;
  min-width: unset !important;
  font-size: unset !important;
  font-family: 'Balsamiq Sans', cursive;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a {
  font-family: Balsamiq Sans !important;
  font-weight: 700 !important;
}

fieldset {
  padding: 0.35rem 0.75rem 0.625rem !important;
}

a {
  text-decoration: none;
  color: unset;
}

/* .MuiTypography-h4,
.MuiTypography-h5,
.MuiButton-label,
.makeStyles-menuFont-42,
.MuiTypography-subtitle2 {
  font-family: 'Montserrat' !important;
  font-weight: 700 !important;
}

.MuiTypography-body1 {
  font-family: 'Raleway' !important;
} */

.makeStyles-title-74 {
  font-weight: 700 !important;
}
